n8n/workflows/channel-talk-manual-backfill.json
{
  "name": "ixi-O Agent Channel Talk Manual Backfill",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"states\": [\"closed\", \"opened\", \"snoozed\"],\n  \"chatLimit\": 20,\n  \"chatPages\": 1,\n  \"messageLimit\": 100\n}"
      },
      "id": "backfill-settings",
      "name": "Backfill Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.IXI_O_AGENT_BACKFILL_URL || $env.PHONE_CLAW_BACKFILL_URL || 'http://host.docker.internal:3000/api/backfill/channel-talk'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ixi-o-agent-ingest-secret",
              "value": "={{$env.IXI_O_AGENT_INGEST_SECRET || $env.PHONE_CLAW_INGEST_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      },
      "id": "post-backfill",
      "name": "Run ixi-O Agent Backfill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Backfill Settings", "type": "main", "index": 0 }]]
    },
    "Backfill Settings": {
      "main": [[{ "node": "Run ixi-O Agent Backfill", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
